#root {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #5f5f5f;
  max-width: 768px;
  flex: 1;
}

.color-picker .selector {
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  box-shadow: none !important;
}

.color-picker .selector:hover,
.color-picker .selector:focus {
  box-shadow: none !important;
}

.color-picker:nth-child(2) > .palette.is-in {
  display: none;
}

.am-navbar {
  background: #000000 !important;
  color: white !important;
}

.am-modal-button-group-h .am-modal-button:last-child {
  color: red !important;
}

.am-modal-transparent .am-modal-content {
  border-radius: 20px !important;
}

.am-navbar-light .am-navbar-title {
  color: white !important;
}

